html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column;
    background-color: #cde6e9; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a3c0c4;
    padding: 15px 15px;
    gap: 10px;
    position: fixed; /* Fix the header at the top */
    top: 0;
    width: 100%;
    z-index: 10; /* Ensure it stays above other content */
}

.header-container button {
    background-color: #1a1a1a; /* Dark background */
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-container button:hover {
    background-color: #333333; /* Darker on hover */
}


.header-container h1 {
    font-size: 30px;
    font-weight: bold;
    color: #809699;
    margin: 0;
}

/*Body-Container*/
.main-container {
    flex-grow: 1; 
    min-height: 81vh; /* Ensures it's at least 70% of the viewport */
    background-color: #cde6e9; /* Light gray background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px; /* Adds space from the fixed header */
    padding-bottom: 50px; /* Adds space for the footer */
}

/* Header inside body-container */
.main-container h1 {
    font-size: 42px;
    font-weight: bold;
    color: #121212; /* Dark text */
    margin-bottom: 50px;
    padding-top: 50px; /* Adjust space to account for fixed header */
}

/* Button styling */
.main-container button {
    background-color: #121212; /* Black background */
    color: #ffffff; /* White text */
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    width: 250px; /* Fixed width */
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container button:hover {
    background-color: #333333; /* Slightly lighter black on hover */
}

/* Settings button (extra spacing) */
.main-container button:last-of-type {
    margin-top: 5px;
}

/* Logo styling */
.home-container .logo {
    display: flex;
    bottom: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-top: 30px;
}

.footer {
    width: 100%;  
    text-align: center;
    padding: 10px;
    background-color: #a3c0c4;
    color: #809699;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}